[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "==0.24.1"
numpy = "==1.16.1"
matplotlib = "==3.0.2"
seaborn = "==0.9.0"
scikit-learn = "==0.20.2"
scipy = "==1.2.0"
numexpr = "==2.6.9"
bottleneck = "==1.2.1"
jupyter = "*"
xelatex = "*"

[requires]
python_version = "3.7"
